---
environment: oci-prod
commonLabels:
  team: dwh
chain: polkadot
role: preloader
replicas: 1
image: {repository: busybox, tag: latest}
limits: {cpu: 200m, memory: 100Mi}
requests: {cpu: 100m, memory: 100Mi}
port: 3000
metrics:
  enabled: false
vault:
  role: "mbelt"
  secret: "secret/mbelt/mbelt3"
env:
  substrate_uri: ws://substrate-ws-proxy-prod.polkadot.svc.cluster.local:9944
  log_level: info
  network_id: 0
  mode: LISTENER
  network: polkadot
ingress:
  enabled: true
  class: nginx-external
  host: mbelt3-preloader.polka.p2p.world
  tls:
    cluster_issuer: cloudflare-prod
    secret: mbelt3-preloader-polka-p2p-world
    ssl_redirect: true
tolerations:
  - key: cloud.google.com/gke-spot
    operator: Equal
    value: "true"
    effect: NoSchedule

rabbitmq:
  environment: oci
  chain: tbd
  role: preloader
  #env: mbelt3
  enabled: true
  replicas: 1
  virtual_service:
    enabled: false
    host: rabbitmq-mbelt3.dev-p2p.org

  persistence:
    storage: 50Gi
    storageClassName: uhp-40-rwo-xfs

  resources:
    limits: { cpu: 2, memory: 2Gi }
    requests: { cpu: 1, memory: 2Gi }

  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - podAffinityTerm:
          labelSelector:
            matchLabels:
              app.kubernetes.io/part-of: rabbitmq
          topologyKey: kubernetes.io/hostname
        weight: 1

  # list of namespaces from where it's allowed to reference this cluster (create vhost/user/permissions)
  topologyAllowedNamespaces:
  - dwh-mbelt3


  secretBackend:
    vault:
      role: cluster-app
      defaultUserPath: dwh/kv/default/kratos-oke/kubernetes/us-chicago-1-prod-1/rabbitmq-mbelt3/dwh-mbelt3/creds
    externalSecret:
      enable: false
      secretName: "rabbitmq-mbelt3-default-user"
  vault:
    enabled: false

  override:
    statefulSet:
      spec:
        template:
          spec:
            containers:
              - name: rabbitmq
            nodeSelector:
              team: dwh
          metadata:
            labels:
              app.kubernetes.io/instance: rabbitmq
              team: dwh
