REDASH_URL=http://redash-server:5000
USER_NAME=admin
USER_EMAIL=admin@example.org
USER_PASS=supersecret123
ORG_NAME=organization
DB_HOST=db
DB_PORT=5432
DB_USER=user
DB_PASS=password
DB_NAME=mbelt
DB_SSL_MODE=disable
DB_TYPE=pg
DATASOURCE_NAME=mbelt
DASHBOARD_NAME=Polkadot
QRY_DIR=./queries