REDASH_URL=http://redash-server:5000
USER_NAME=admin
USER_EMAIL=admin@example.org
USER_PASS=supersecret123
ORG_NAME=organization
DB_HOST=db
DB_PORT=5432
DB_USER=sink
DB_PASS=d5_TDyp52HhMceA82sv0u_30wLX2o1_j520p8x
DB_NAME=raw
DB_SSL_MODE=disable
DB_TYPE=pg
DATASOURCE_NAME=mbelt
DASHBOARD_NAME=Polkadot
QRY_DIR=./queries